In [344]:
import pandas as pd
import numpy as np

data = pd.read_excel('Temporary_data3_Left_Right_Copy.xlsx')

TASK-7A: Please apply one-hot encoding method on one of the categorical variables (not SEX/gender) for the given AD dataset. Please explain what kind of transformation occured on the dataset.

In [345]:
y = data
X = data.loc[:,'HXHYPER'].values.reshape(-1, 1)

In [346]:
from sklearn import preprocessing
ohe= preprocessing.OneHotEncoder()
xx = ohe.fit_transform(X).toarray()
print(xx)

[[1. 0.]
 [0. 1.]
 [1. 0.]
 ...
 [1. 0.]
 [0. 1.]
 [1. 0.]]

In [347]:
pd.get_dummies(data.HXHYPER, prefix='HYPER')

      HYPER_0  HYPER_1
0           1        0
1           0        1
2           1        0
3           0        1
4           0        1
...       ...      ...
1349        0        1
1350        1        0
1351        1        0
1352        0        1
1353        1        0

[1354 rows x 2 columns]

TASK-7B: Please provide a couple of pivot tables in order to illustrate how SEX variable is influential on our target array (CDRGLOB). Please provide a few multidimensional analyses (not limited to two variables).

In [348]:
data.pivot_table('CDRGLOB', index='SEX', columns='EDUC')

EDUC,0,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
SEX,,,,,,,,,,,,,,,,,,,,,
1,3.0,1.000000,1.0,2.0,1.5,1.0,2.25,1.461538,0.666667,0.800000,...,0.78400,1.000000,0.772358,0.791667,0.905882,1.0,1.0,1.5,0.0,NaN
2,1.0,1.333333,1.5,2.0,1.0,0.5,0.60,1.076923,0.666667,1.285714,...,0.51087,0.466667,0.464789,0.125000,0.480000,1.0,0.0,NaN,NaN,0.0

In [349]:
data.pivot_table('CDRGLOB', index='SEX', columns='INDEPEND')

INDEPEND         1         2         3    4
SEX
1         0.521303  1.503597  2.294118  3.0
2         0.328990  1.362903  2.171429  2.5

TASK-7C: Referring to the problem in part B, please provide a potential solution to the gender-based issue that appears as a bottleneck for the model development phase. One possible solution might be to provide normalization of the numeric columns with respect to the total brain volume (NACCBRNV column).

In [350]:
df = data.iloc[:,37:].div(data.NACCBRNV,axis=0)
df["CDRGLOB"]=data["CDRGLOB"]
df

,NACCICV,NACCBRNV,NACCWMVL,CSFVOL,GRAYVOL,WHITEVOL,WMHVOL,CEREALL,CERETISS,CERECSF,...,RSUPFRM,RSUPPAR,RSUPPARM,RSUPTEM,RSUPTEMM,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM,CDRGLOB
0,1.250353,1.0,0.430592,0.249987,0.569773,0.430227,0.000365,1.062829,0.851212,0.211614,...,0.001980,0.009248,0.001521,0.011998,0.001557,0.008821,0.001501,0.000796,0.001068,0
1,1.424762,1.0,0.431451,0.423173,0.570138,0.429862,0.001589,1.248402,0.880778,0.367624,...,0.002428,0.008351,0.001472,0.013433,0.002076,0.006563,0.001706,0.001246,0.001833,2
2,1.225458,1.0,0.444088,0.224296,0.557074,0.442926,0.001162,1.049901,0.871725,0.178176,...,0.002138,0.011526,0.001313,0.013664,0.001743,0.008512,0.001549,0.000850,0.001263,0
3,1.340097,1.0,0.429433,0.337873,0.572790,0.427210,0.002224,1.118978,0.865950,0.253028,...,0.002161,0.008643,0.001300,0.013548,0.001470,0.009316,0.001641,0.000663,0.000986,0
4,1.472360,1.0,0.438119,0.464283,0.569958,0.430042,0.008077,1.262842,0.872748,0.390093,...,0.001922,0.008980,0.001028,0.013182,0.001603,0.007474,0.001438,0.000654,0.000840,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,1.290772,1.0,0.455070,0.289110,0.546592,0.453408,0.001662,1.100470,0.867546,0.232923,...,0.002325,0.009242,0.001903,0.012368,0.002527,0.008165,0.002067,0.000590,0.000900,1
1350,1.445689,1.0,0.449363,0.437067,0.559259,0.440741,0.008622,1.240003,0.861044,0.378962,...,0.001761,0.008730,0.001246,0.009048,0.001596,0.008558,0.001718,0.000609,0.000666,2
1351,1.357799,1.0,0.420738,0.349720,0.587341,0.412659,0.008079,1.153496,0.859910,0.293586,...,0.001985,0.011599,0.001432,0.011852,0.001863,0.008875,0.001629,0.001105,0.001489,0
1352,1.382142,1.0,0.441121,0.354461,0.586560,0.413440,0.027681,1.200412,0.899993,0.300420,...,0.002197,0.009785,0.001537,0.012452,0.001899,0.010056,0.001935,0.001185,0.001375,0
1353,1.290286,1.0,0.426280,0.280445,0.583562,0.416438,0.009841,1.097672,0.866665,0.231007,...,0.002418,0.009922,0.001766,0.014005,0.002207,0.009992,0.001866,0.000833,0.001655,0

TASK-7D: After the normalization process, please provide a correlation matrix to report the critical features that have high correlation (positive or negative) with the target array (CDRGLOB).

In [351]:
data2 = data.copy()
data.loc[:,:] = preprocessing.minmax_scale(data.loc[:,:])

corr_matrix = data.corr()["CDRGLOB"].abs().argsort()[::-1].head(10)
corr_matrix2 = data.corr()["CDRGLOB"]
print(corr_matrix2.iloc[corr_matrix])

CDRGLOB     1.000000
NACCMMSE   -0.746660
INDEPEND    0.693881
RENTM      -0.478207
LENTM      -0.453646
APA         0.448558
LHIPPO     -0.442185
RHIPPO     -0.424068
LLATVENT    0.414033
RLATVENT    0.406806
Name: CDRGLOB, dtype: float64

TASK-7E: Please develop 3 distinct formulas (in other words derived features like BMI score) that involve the critical features in Part-7D and then ensure that these derived features could be used as predictive variables for CDRGLOB (again correlation analysis will give you insight).

In [352]:
data["MyFormul1"] = (data["INDEPEND"]*(0.693) + (data["NACCMMSE"])*(-0.7466) + data["RENTM"]*(-0.478)) 
data["MyFormul2"] = data["INDEPEND"] + (data["NACCMMSE"])*(-1)+ data["RENTM"]*(-1)
data["MyFormul3"] = data["RENTM"]*(-0.453646) + (data["LENTM"])*(-0.453646) + data["APA"]*(0.448558)

print("Correlation of Formul 1 with CDRGLOB", data["CDRGLOB"].corr(data["MyFormul1"]))
print("Correlation of Formul 2 with CDRGLOB", data["CDRGLOB"].corr(data["MyFormul2"]))
print("Correlation of Formul 3 with CDRGLOB", data["CDRGLOB"].corr(data["MyFormul3"]))

Correlation of Formul 1 with CDRGLOB 0.8036146133569853
Correlation of Formul 2 with CDRGLOB 0.7972940746550929
Correlation of Formul 3 with CDRGLOB 0.5931804699763853

TASK-7F: Then please develop a machine learning model with the 3 derived features that you obtain in 7E via the use of train-test split (be careful about stratify parameter in this function) and gridsearchCV function as well as a classification algorithm (such as Gaussian Naive Bayes) but please do not forget to optimize its hyperparameters. Finally, please report your findings via the use of classification report function (also a sklearn function).

In [353]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [354]:
model = KNeighborsClassifier()
X1, X2, y1, y2 = train_test_split(data2, data2["CDRGLOB"], random_state=0,     
                                  train_size=0.8)

model.fit(X1,y1)                                                                
y_pred = model.predict(X2)

In [355]:
param_grid = {"n_neighbors" : [6,7,8,9,10,11,12,13],
              "weights": ["uniform", "distance"],
              "algorithm": ["auto", "ball_tree","kd_tree", "brute"]}

grid = GridSearchCV(model, param_grid, cv=5)
grid_search = grid.fit(X1, y1)
print(grid.best_params_)
accuracy = grid_search.best_score_ *100
print("Accuracy for our training dataset with tuning is : {:.2f}%".format(accuracy))

print(classification_report(y2, y_pred))

{'algorithm': 'auto', 'n_neighbors': 11, 'weights': 'distance'}
Accuracy for our training dataset with tuning is : 54.75%
              precision    recall  f1-score   support

           0       0.59      0.72      0.65       128
           1       0.46      0.46      0.46       102
           2       0.31      0.12      0.18        32
           3       0.00      0.00      0.00         9

    accuracy                           0.53       271
   macro avg       0.34      0.33      0.32       271
weighted avg       0.49      0.53      0.50       271